<%- include('./partial/header') %>
          <div class="main-content">
            <header>
                   <h2> 
                    <label for="nav-toggle">
                        <span class="las la-bars">
                    </span></label>
              Dashboard
            </h2>
           
            <div class="user-wrapper">
                <img src="/img/avatar.svg" height="50" width="50" alt="">
                <div>

  <h4 id="user_name">John Doe</h4>
                <small id="user_role">Administrator</small>
                </div>
              
            </div>
        
            </header>
         
        <main>
        
             <div class="breadcrumb">
<span> Corner Shop Management </span>
<span id="current"></span>

                    </div>
            
          <div class="recent-grid">
              <div class="projects">
                  <div class="card">
                        <div class="card-header">
                            <div>
                                <h3>Add A Corner Shop Owner</h3>
                               
                            </div>
                        
                        
 
                  </div>
                <form id="form">
                    <div class="form-row">
 <label for="">Operator Name</label>
                   <input id="fullname" required type="text">
                    </div>
                     <div class="form-row">
 <label for="">Shop Name</label>
                   <input id="shop_name" required type="text">
                    </div>
                      <div class="form-row">
 <label for="">Number Of Shop(S) </label>
                   <input id="no_bus" required type="number">
                    </div>
                        <div class="form-row">
 <label for="">Drive Number</label>
                  <select required name="" id="driveNo">
                     <option value="">
                              Drive Number
                            </option>
                         <option value="1">
                                Drive 1
                            </option>
                            <option value="2">
                                Drive 2
                            </option>
                             <option value="3">
                                Drive 3
                            </option>
                             <option value="4">
                                Drive 4
                            </option>
                             <option value="5">
                                Drive 5
                            </option>
                             <option value="6">
                                Drive 6
                            </option>
                  </select>
                    </div>
                  <div class="form-row">
 <label for="">Telephone</label>
                   <input required id="telephone" type="text">
                    </div>
             <div class="form-row">
 <label for="">Address</label>
                   <input required id="address" type="text">
                    </div>     
                      
                      
                 
                       <button id="submit" onclick=submitData()>
                            <span id="text">Add User</span>
                        </button>
                   
                </form>
              </div>
             
          </div>
           <div id="snackbar">

           </div>
        </main>
        
        
    </div>

    <script>
      window.addEventListener("load",()=>{
    let xhr = new XMLHttpRequest();
      let user_name=document.getElementById("user_name")   
let user_role=document.getElementById("user_role")
          xhr.onload = () => {
              let data=JSON.parse(xhr.responseText)
user_name.textContent=data[0].fullname
         };

        xhr.open("get", `/api/user`, true);
        xhr.send(); 
         

 })
  function submitData() {
   let snackBar=document.getElementById("snackbar")
        let btn = document.getElementById("submit");
        let form=document.getElementById("form")
        form.addEventListener("submit",(e)=>{
          e.preventDefault()
        btn.classList.add("loading")
        btn.disabled=true
         text.style.visibility="hidden"
         let obj = {
          telephone: document.getElementById("telephone"),
          name: document.getElementById("fullname"),
          houseNo: document.getElementById("houseNo"),
          driveNo: document.getElementById("driveNo"),
          address: document.getElementById("address"),
          shop_name: document.getElementById("shop_name"),
          no_bus:document.getElementById("no_bus")
          
        };
        let xhr = new XMLHttpRequest();
     xhr.onload = () => {
          obj.driveNo.value = "";
          obj.telephone.value = "";
          obj.name.value = "";
          obj.address.value = "";
          obj.shop_name.value=""
          obj.no_bus.value="";
            btn.disabled=false
             text.style.visibility="visible"
                snackBar.innerText = ` ${xhr.responseText}`

                snackBar.className="show"
                btn.classList.remove("loading")
                setTimeout(()=>{
                    snackBar.className=snackBar.className.replace("show","")

                },3000)  

        };
    let requestObj =
          "telephone=" +
          obj.telephone.value +
          "&name=" +
          obj.name.value +
          "&address=" +
          obj.address.value+
            "&no_shop=" +
          obj.no_shop.value+
           "&shop_name=" +
          obj.shop_name.value+
            "&driveNo=" +
          obj.driveNo.value;

        xhr.open("post", "/admin/add/business", true);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.send(requestObj);
      })
   }
   
    </script>
  
  </body>
</html>
