<%- include('./partial/header') %>
<div class="main-content">
            <header>
                   <h2> 
                    <label for="nav-toggle">
                        <span class="las la-bars">
                    </span></label>
              Dashboard
            </h2>
           
            <div class="user-wrapper">
                <img src="/img/avatar.svg" height="50" width="50" alt="">
                <div>

  <h4 id="user_name"></h4>
                <small id="user_role">Administrator</small>
                </div>
              
            </div>
        
            </header>
         
        <main>
              <div class="breadcrumb">
<span> Resident Management </span>
<span id="current">All Active Resident</span>

                    </div>
            
          <div class="recent-grid">
              <div class="projects">
                  <div class="card">
              
                        <div class="card-header">
                            <div>
                                <h3>All Residents</h3>
                               
                            </div>
                        
                        
                 
                                            </div>
                        <div class="card-body">
                        <table width="100%" id="table_residet">
                                <thead>
                                    <tr>
                                    <td>S/N</td>  
                                     <td>
                                       Pic
                                        
                                    </td>
                                <td>
                                        Name Of Resident
                                        
                                    </td>
                                <td>
                                        Telephone No
                                        
                                    </td>
                               
                                    <td>
                                       House No
                                        
                                    </td>
                                     <td>
                                       Apartment Type
                                        
                                    </td>
                                    <td>
                                       Drive No
                                        
                                    </td>
                                 <td>
                                       Status
                                        
                                    </td>
<% if (user.is_SuperAdmin || user.is_ResidentManager){%> 
                                   <td>
                                       Action
                                        
                                    </td>
                                    <% } %></tr>
                                </thead>
                              <tbody id="table_resident">

                              </tbody>
                        </table>
                    </div>
                  </div>
                   
              </div>
             
          </div>
           
        </main>
        
        
    </div>

  

  </body>
<script>
    function clicked() {   
          let select=document.getElementById("selected") 
          let table=document.getElementById("table_resident")

          let val= select.value 


          let xhr = new XMLHttpRequest();
          let requestObj="driveNo="+val;
          console.log(xhr.readyState);
          xhr.onload = () => {
              let data=JSON.parse(xhr.responseText)
                       for(let i=0;i<table.rows.length;i++){


                    table.deleteRow(i)
                    }
              add_data(data)

         };
        xhr.open("get", `/residents/${val}`, true);
        xhr.send(requestObj);
        }
load()
 function load() {
   let newPost = document.getElementById("matchList");
    let xhr = new XMLHttpRequest();
        console.log(xhr.readyState);

        xhr.onload = () => {
       console.log(xhr.responseText)
            let data=JSON.parse(xhr.responseText)
           
            add_data(data)
 };

        xhr.open("get", `/admin/list/resident/active`, true);
        xhr.send();
      }
      
function add_data(data){
let user_name=document.getElementById("user_name")   
let user_role=document.getElementById("user_role")
user_name.textContent=data.profile[0].fullname

let table=document.getElementById("table_resident") 
console.log(data)
for (let i = 0; i < data.result.length; i++) {
let tr=document.createElement("tr")
    if(data.result[i].image){
 tr.innerHTML=
 `<td>${i+1}</td>`+
   `<td><img src="/upload/${data.result[i].image}" height="50" width="50" style="object-fit:cover;border-radius:50%;" alt="Avatar"></td>`+
 `<td>`+data.result[i].fullname +`</td>`+
 `<td>${data.result[i].telephone  }</td>`+
  `<td>${data.result[i].houseNo} </td>`+
 `<td>${data.result[i].houseType}</td>`+
 `<td>${data.result[i].driveNo} </td>`+
 `<td>`+
   `<span style="display:flex">`+
      `<span class="status green"></span>`+ data.result[i].status
      `</span>`
  +` </td>` 
    +
  `<td class="btn_resident">`
    <% if (user.is_SuperAdmin){%> 
    +` <button><a href="/admin/resident/delete/${data.result[i].tenId}"><span>
             Delete
               </span></a></button>`
                 <% } %>
               <% if (user.is_ResidentManager || user.is_SuperAdmin){%> +
                                              
              ` <button><a href="/admin/resident/update/${data.result[i].tenId}"><span>
               Edit
          </span></a></button>`+
   ` </td>`
      <% } %>
    table.append(tr) 

    }
    else if(!data.result[i].image){
        tr.innerHTML=
       `<td>${i+1}</td>`+
   `<td><img src="/img/avatar.svg" height="50" width="50" alt="Avatar"></td>`+
 `<td>`+data.result[i].fullname +`</td>`+
 `<td>${data.result[i].telephone  }</td>`+
  `<td>${data.result[i].houseNo} </td>`+
 `<td>${data.result[i].houseType}</td>`+
 `<td>${data.result[i].driveNo} </td>`+
 `<td>`+
    `<span style="display:flex">`+
      `<span class="status green"></span>`+ data.result[i].status
 + `</span>`
      +` </td>`
    +
  `<td class="btn_resident">`
      <% if (user.is_SuperAdmin){%>    
    +` <button><a href="/admin/resident/delete/${data.result[i].tenId}"><span>
             Delete
               </span></a></button>`
                 <% } %>
               <% if (user.is_ResidentManager || user.is_SuperAdmin){%> +
                                              
              ` <button><a href="/admin/resident/update/${data.result[i].tenId}"><span>
               Edit
          </span></a></button>`+
   ` </td>`
      <% } %>
    table.append(tr) 
 
    }
 


 }
}
  
</script>
</html>
